.gpt3__blog-article {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    background: var(--color-footer);
}


/* styling for image */
.gpt3__blog-article__image {
    width: 100%;
}

.gpt3__blog-article__image img{
    width: 100%;
    height: 100%;
}

/* styling for content */
.gpt3__blog-article__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    padding: 1rem 2rem;
}


.gpt3__blog-article__content p:first-child {
    color: #FFFFFF;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 11.649px;
    line-height: 35px;
}

.gpt3__blog-article__content h3 {
    color: #FFFFFF;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 25.11px;
    line-height: 30px;

    cursor: pointer;
}

.gpt3__blog-article__content p:last-child {
    cursor: pointer;

    margin-top: 3rem;
}


/* media quires */

/*-- screen down 900px */
@media screen and (max-width: 900px ) {
    .gpt3__blog-article__content h3 {
        font-size: 20px;
    }
}
    
/*-- screen down 550px */
@media screen and (max-width: 550px ) {
    .gpt3__blog-article__content h3 {
        font-size: 19px;
    }
}